.App {
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 10px; /* Adjust border radius as needed */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  transform: translate(20%, 25%);
}

.dropdown {
  width: 30%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  transform: translate(120%, 25%);
}

.country-table {
    border-collapse: collapse;
    margin-top: 20px; /* Add margin to the top */
    display: flex;
    align-items: center;
    justify-content: center;

}

.country-table td, th {
    border: 1px solid #ddd;
    padding: 8px;
    width: 10rem;
 
  }
  
  .country-table td {
    padding: 10px;
    text-align: center; /* Center align the content */

  }
  
  .country-table img {
    margin-bottom: 5px; /* Add margin below the flag */
  }
  
  .country-name {
    margin-top: 5px; /* Add margin above the country name */
  }
  